<header id="site-header" class="max-w-screen-lg mx-auto">
	<section class="overflow-x-auto">
		<ul class="flex flex-row items-center justify-center md:justify-end md:bg-white bg-plum-lightest">
			{% for n in [
                { url: '#', text: 'Client Portal' },
                { url: '#', text: '1-800-800-8990' },
              ] %}
				<li class="flex-none">
					<a href="{{ n.url }}" class="flex gap-3.5 text-sm leading-5 font-semibold tracking-[2%] text-plum m-2.5 uppercase">
						{{ n.text}}
						{% if not loop.last %}
							<span class="w-px h-5 bg-plum-light"></span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section class="flex flex-row items-center justify-between px-3 py-2">
		<a href="#" class="relative md:bottom-7">
			{% include "_partials/_logo_color.svg.twig" %}
			<span class="sr-only">Murray and McDonald Insurance Services, Inc.</span>
		</a>
		<button id="hamburger-button" class="self-end hamburger hamburger--squeeze md:hidden" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner !bg-plum before:!bg-plum after:!bg-plum"></span>
			</span>
		</button>
		<nav class="hidden md:flex">
			<ul class="flex flex-row items-center gap-4">
				{% for n in [
                    { url: '#', text: 'Our Company' },
                    { url: '#', text: 'Our Services' },
                    { url: '#', text: 'Schedule a Call' },
                  ] %}
					{% if loop.last %}
						<li class="flex items-center h-16 p-5 text-white rounded-md bg-plum-gradient">
							<a href="{{ n.url }}" class="text-lg font-medium leading-5">
								{{ n.text}}
							</a>
						</li>
					{% else %}
						<li>
							<a href="{{ n.url }}" class="text-lg font-medium leading-5">
								{{ n.text}}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</section>
</header>
