<header id="site-header" class="bg-white">
	<section class="max-w-screen-xl mx-auto pb-10 md:pb-[14px] md:px-[30px]">

			<div class="md:mb-[-30px] overflow-x-scroll scroll md:overflow-x-hidden bg-plum-lightest md:bg-white">
				<div class="w-max md:w-full mx-auto">
					<div class="flex gap-4 py-[8px] md:py-0 md:pt-[14px] md:justify-end">
						{% for item in headerInfo %}
							<a href="{{item.url}}" class="uppercase font-semibold text-[14px] leading-[17px] tracking-[0.02em] text-plum z-10">{{item.text}}</a>
							<div class="w-[2px] bg-plum-light last:hidden"></div>
						{% endfor %}
					</div>
				</div>	
			</div>
			
			<div class="md:flex md:justify-between">
				<div class="flex px-[12px] md:px-0 justify-between">
					<a href="/" aria-label="Go to home page">
						{% include "_partials/_logo_colorful.svg.twig" %}
					</a> 

					<button id="menu" class="hamburger hamburger--squeeze md:hidden" aria-expanded="false">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<div class="flex-col hidden pt-10 px-5 md:px-0 md:pb-0 md:flex md:justify-end gap-[18px]" role="menubar"> 
					<div class="flex">
						<ul class="flex-row md:flex justify-center items-center">
							{% for item in services %}
								{% if item.text != "Schedule a Call" %}
									<li class="mb-[18px] md:mb-0"><a href="{{item.url}}" class="font-bold md:font-medium text-purple
									md:mr-[30px] md:text-black md:text-[18px] tracking-[2px] md:tracking-normal
									leading-[27px] text-[22px] md:py-5">{{item.text}}</a></li>
									{% else %}
									<li><a href="{{item.url}}" class="font-bold text-purple tracking-[2px] 
									leading-[27px] text-[22px] md:hidden">{{item.text}}</a></li>
									<button class="hidden md:flex primary-btn">Schedule a Call</button>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
					<nav class="md:hidden">
						<ul class="flex flex-col gap-4">
							{% for item in nav %}
								<li><a href="{{item.url}}" class="text-plum font-medium md:font-bold tracking-[2px]">{{item.text}}</a></li> 
							{% endfor %}
						</ul>
					</nav>
				</div>
			</div>
	</section>
</header>
<header id="site-header">
  <section class="max-w-screen-lg mx-auto">
    <h2>site-header</h2>
  </section>
</header>
