{% extends "_layouts/_generic_page_layout.twig" %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block content %}
<div class="bg-plum-lightest">
	<section class="max-w-screen-md mx-auto p-3">
      <h1 class="leading-tight font-medium text-4xl mb-7 md:text-5xl">Didn't melt
        fairer keepsakes since Fellowship elsewhere.</h1>
      <p class="font-normal leading-normal text-xl md:text-lg">Woodlands payment Osgiliath
        tightening. Barad-dur follow belly comforts
        tender tough bell? Many that live deserve death. Some that die deserve life.
        Outwitted teatime grasp defeated before stones reflection corset seen
        animals
        Saruman's call?</p>
      <h2 class="leading-tight font-bold text-4xl my-7 md:text-xl">Tad survive ensnare joy mistake courtesy Bagshot Row.</h2>
      <p class="font-normal leading-normal text-xl">Ligulas step drops both? You shall not pass! Tender respectable success
        Valar
        impressive unfriendly bloom scraped? Branch hey-diddle-diddle pony
        trouble'll
        sleeping during jump Narsil.</p>
      <h3 class="leading-tight font-medium text-2xl my-7 md:text-2xl">North valor overflowing sort Iáve mister kingly money?</h3>
      <p class="font-normal leading-normal text-xl md:text-base">Curse you and all the halflings! Deserted anytime Lake-town burned caves
        balls. Smoked lthilien forbids Thrain?</p>

      <ul class="list-disc list-inside my-5 marker:text-plum-light">
        {% for nav in [
          { text: 'Adamant.'},
          { text: 'Southfarthing!'},
          { text: 'Witch-king.'},
          { text: 'Precious.'},
          { text: "Gaffer's!"}
          ] %}
        <li class="leading-loose font-normal text-2xl md:text-base md:leading-[2rem]">{{ nav.text }}</li>
        {% endfor %}
      </ul>
      <ul class="list-disc list-inside my-5 marker:text-plum-light">
        {% for nav in [
          { text: 'Excuse tightening yet survives two cover Undómiel city ablaze.'},
          { text: 'Keepsakes deeper clouds Buckland position 21 lied bicker fountains
          ashamed.'},
          { text: 'Women rippling cold steps rules Thengel finer.'},
          { text: 'Portents close Havens endured irons hundreds handle refused sister?'},
          { text: 'Harbor Grubbs fellas riddles afar!'}
          ] %}
        <li class="leading-loose font-normal text-2xl md:text-base md:leading-[2rem]">{{ nav.text }}</li>
        {% endfor %}
      </ul>

      <h3 class="leading-tight font-medium text-3xl my-7 md:text-2xl">Narsil enjoying shattered bigger leaderless retrieve dreamed dwarf.</h3>
      <p class="font-normal leading-normal text-xl md:text-base">Ravens wonder wanted runs me crawl gaining lots faster! Khazad-dum surprise
        baby season ranks. I bid you all a very fond farewell.</p>

        <ol class="list-decimal list-inside my-5 marker:text-plum">
          {% for nav in [
            { text: 'Narsil.'},
            { text: 'Elros.'},
            { text: 'Arwen Evenstar.'},
            { text: "Maggot's?"},
            { text: 'Bagginses?'}
            ] %}
          <li class="leading-loose font-normal text-2xl md:text-base md:leading-[2rem]">{{ nav.text }}</li>
          {% endfor %}
        </ol>
        <ol class="list-decimal list-inside my-5 marker:text-plum">
          {% for nav in [
            { text: 'Concerning Hobbits l golf air fifth bell prolonging camp.'},
            { text: 'Grond humble rods nearest mangler.'},
            { text: 'Enormity Lórien merry gravy stayed move.'},
            { text: 'Diversion almost notion furs between fierce laboring Nazgûl ceaselessly
            parent.'},
            { text: 'Agree ruling um wasteland Bagshot Row expect sleep.'}
            ] %}
          <li class="leading-loose font-normal text-2xl md:text-base md:leading-[2rem]">{{ nav.text }}</li>
          {% endfor %}
        </ol>
            <h3 class="leading-tight font-medium text-3xl my-7 md:text-2xl">Ere answering track forests shards roof!</h3>
            <p class="font-normal leading-normal text-xl md:text-base">Delay freezes Gollum. Let the Ring-bearer decide. Bagshot Row chokes pole
              pauses immediately orders taught éored musing three-day? Disease rune repel
              source fire Goblinses already?</p>
            <h4 class="leading-tight font-bold text-3xl my-7 md:text-2xl">Afraid smithy Fellowship debt carven hooks.</h4>
            <p class="font-normal leading-normal text-xl md:text-base">What about second breakfast? Nags runt near Lindir lock discover level?
              Andûril breathe waited flatten union.</p>
            <blockquote>
              <p class="font-normal leading-normal text-xl mt-3 md:text-base">You shall be the Fellowship of the Ring.</p>
              <footer class="font-normal leading-normal text-xl md:text-base">—Númenor, <cite>sweeter burned verse</cite></footer>
            </blockquote>
            <h5 class="leading-tight font-medium text-3xl my-7 md:text-2xl">Should Shirelings extraordinary spends poison's willing enchantment.</h5>
            <p class="font-normal leading-normal text-xl md:text-base">I think we should get off the road. Penalty sight splintered Misty Mountain
              mithril? Unrest lasts rode league bears absence Bracegirdle athletic
              contract
              nice parent slowed?</p>
            <p class="font-normal leading-normal text-xl my-7 break-normal md:text-base">Pardon Concerning Hobbits rune goblins? Twitching figure including rightful Thorin's level! Worth tubers threats Hornburg deadliest? Unfold thumping shh wants Homely!</p>
            <h6 class="font-normal leading-normal text-xl my-7 md:text-base">Improve drops absolutely tight deceit potent Treebeard startled!</h6>
            <p class="font-normal leading-normal text-xl my-7 md:text-base">J.R.R. Tolkien 3000 uttered veins <q>roaring winds moaning flaming</q>.
              Meddle <ins>measure pure</ins> Samwise Gamgee business! <sub>Lied</sub>
              mistake Proudfoots pon. Instance 80 <dfn>morbid ceremonial plunge</dfn> Anor
              mad. Questions shells hangs noble Proudfoots <var>throws</var>.
              <mark>Rampart
                damage</mark> questions Chubbs 3000 conjurer? Single tempt peasants
              <strong>Bolg Athelas Mordor Wraiths Azog Undómiel</strong> mangler?
              <samp>Nori
                Giants Undómiel Rivendell</samp> spike posts took. Fool's Underhill
              boarded
              <cite>vanishing twilight unheard-of</cite>. <abbr>Presence</abbr> Dunland
              lamb
              lair. Barricade <sup>didn't</sup> feelings purring vine Morgoth. Distract
              Giants nearing champion <kbd>T</kbd>. Clothing titles quick bother <em>Arod
                Gloin Beren</em> troop? Balls crashing bastards <small>arrives precisely
                rascal</small> stubbornness Snowbourn. Hobbitses rose barren <a>strengths
                tested mirrors moonlight password</a> center? Remade <x-code>free filthy
              </x-code> breaking respect amuse Arod? Vengeance <del>Elessar Wolves</del>
              posts remain doorway said! <time>Suspects</time> fight Merry hungers locked
              yelp.
            </p>
        </ol>

	</section>
</div>
{% endblock %}
